
<h1> Display studetns List using ViewData</h1>

<ul>
    

    @foreach (var student in ViewData["MyStudents"] as  List<string>)
    {
        <li>
            <h3>
                @student
            </h3>
        </li>
    }

    <h2>
        @DateTime.Now.ToString()
    </h2>
</ul>     
