<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

<connectionStrings>
  <add name="EmployeeConnection" connectionString="Data Source=DESKTOP-QRS427T;Initial Catalog=EmployeeDB;Integrated Security=true"/>
</connectionStrings>

</configuration>